// Color variables
$primary-color: #ffffff;
$secondary-color: #000;

// Typography
$font-family: Arial, sans-serif;

// Layout
$grid-gap: 20px;

// Breakpoints
$breakpoints: (
  'mobile': 480px,
  'tablet': 768px,
  'desktop': 1024px
);

// Mixins
@mixin respond-above($breakpoint) {
  @media (min-width: map-get($breakpoints, $breakpoint)) {
    @content;
  }
}

@mixin respond-below($breakpoint) {
  @media (max-width: map-get($breakpoints, $breakpoint) - 1px) {
    @content;
  }
}

// Components
.dashboard {
  font-family: $font-family;
  display: grid;
  // grid-template-columns: 1fr 1fr;
  grid-gap: $grid-gap;
  padding: $grid-gap;
}

// Add a new container class
.container {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  

.section {
  background-color: $primary-color;
  color: $secondary-color;
  padding: 20px;
  border-radius: 5px;
}

.section-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.draggable-item {
  cursor: move;
  padding: 10px;
  background-color: rgba($secondary-color, 0.1);
  border-radius: 3px;
  margin-bottom: 10px;
}

.draggable-item:hover {
  background-color: rgba($secondary-color, 0.2);
}

// Mobile styles
@include respond-below('tablet') {
  .dashboard {
    grid-template-columns: 1fr;
  }
}

// Desktop styles
@include respond-above('tablet') {
  .dashboard {
    grid-template-columns: 1fr 1fr;
  }

  .section:nth-child(1),
  .section:nth-child(2) {
    grid-column: span 1;
  }

  .section:nth-child(3) {
    grid-column: span 2;
  }
}
